extends layout

block content
  h1(align='center')= title


  svg(id='graph1' viewBox='0 0 1200 400')
  svg(id='graph2' viewBox='0 0 1200 400')

  table(border='1' align='center')
    thead
      tr
        th Time Recorded
        th Type
        th Unit
        th Value
    tbody
      each data in dataset
        tr
          td= data.TimeRecorded
          td= data.Type
          td= data.Unit
          td= data.Value


  script(src="https://d3js.org/d3.v5.js")
  script inputData = "#{data}";
    include ../test.js