extends layout

block content
  h1(align='center')= title

  div(style="width:1405px")
    svg(id='graph1' width="450" height="400")
    svg(id='graph2' width="450" height="400")
    svg(id='graph3' width="450" height="400")

  table(border='1' align='center')
    thead
      tr
        th Time Recorded
        th Type
        th Unit
        th Value
    tbody
      each data in dataset
        tr
          td= data.TimeRecorded
          td= data.Type
          td= data.Unit
          td= data.Value


  script(src="https://d3js.org/d3.v5.js")
  script humanData = "#{data}"; tempData = "#{tdata}"; humData = "#{humdata}";
    include ../test.js